@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, C:/Users/DANIEL/Desktop/Codando/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, C:/Users/DANIEL/Desktop/Codando/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, C:/Users/DANIEL/Desktop/Codando/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, C:/Users/DANIEL/Desktop/Codando/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, C:/Users/DANIEL/Desktop/Codando/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, C:/Users/DANIEL/Desktop/Codando/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, C:/Users/DANIEL/Desktop/Codando/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-1 {
  width: calc(8.33333% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-2 {
  width: calc(16.66667% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-3 {
  width: calc(25% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-4 {
  width: calc(33.33333% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-5 {
  width: calc(41.66667% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-6 {
  width: calc(50% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-7 {
  width: calc(58.33333% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-8 {
  width: calc(66.66667% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-9 {
  width: calc(75% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-10 {
  width: calc(83.33333% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-11 {
  width: calc(91.66667% - 20px);
}

/* line 42, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.grid-12 {
  width: calc(100% - 20px);
}

/* line 60, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  /* line 60, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-3 {
  margin-left: calc(25% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-6 {
  margin-left: calc(50% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-9 {
  margin-left: calc(75% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

/* line 66, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  /* line 73, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0;
  }
}

/* line 101, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 101, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  /* line 101, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 80, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

/* line 116, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.row {
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
}

@media screen and (max-width: 759px) {
  /* line 116, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 80, C:/Users/DANIEL/Desktop/Codando/css/scss/_grid.scss */
.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

/* line 5, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
html, body {
  overflow-x: hidden;
}

/* line 8, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
}

/* line 12, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
img {
  display: block;
  max-width: 100%;
}

/* Cabeçalho */
/* classe para o js*/
/* line 19, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.ativar {
  background: rgba(0, 0, 0, 0.6);
  height: 10%;
}

@media screen and (max-width: 759px) {
  /* line 19, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .ativar {
    height: 6%;
  }
}

/* line 26, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.logoM {
  margin-top: 20px !important;
}

/* line 29, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.menuM {
  margin-top: 4px !important;
}

/* line 32, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
header {
  background: #1B191B;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

@media screen and (max-width: 759px) {
  /* line 32, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  header {
    height: 60px;
  }
}

/* line 45, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.logo {
  margin-top: 27px;
}

/* line 47, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.logo img {
  height: 30px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 47, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .logo img {
    width: 150px;
  }
}

@media screen and (max-width: 759px) {
  /* line 45, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .logo {
    display: none;
    margin-top: 0;
  }
}

/* line 63, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.menu {
  margin-top: 10px;
  text-align: right;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 63, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .menu {
    margin-bottom: 50px;
    margin-right: -20px;
  }
}

@media screen and (max-width: 759px) {
  /* line 63, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .menu {
    text-align: center;
    margin-top: 15px;
  }
}

/* line 76, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.menu ul li {
  display: inline-block;
  list-style: none;
  margin-left: 25px;
  margin-top: 20px;
}

@media screen and (max-width: 759px) {
  /* line 76, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .menu ul li {
    margin: 0;
    margin-right: 5px;
    margin-bottom: 40px;
  }
}

/* line 91, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.menu ul a {
  text-decoration: none;
  color: #fff;
  font-size: "Roboto Condensed", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  cursor: pointer;
}

/* line 97, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.menu ul a:hover {
  color: #9D4608;
}

/*Introdução*/
/* line 106, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.intro {
  background: url("../img/intro.jpg") no-repeat center;
  background-size: cover;
  height: 665px;
}

@media screen and (max-width: 759px) {
  /* line 106, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .intro {
    height: 90%;
    background: url("../img/intro-respon.jpg") no-repeat center;
    background-size: cover;
  }
}

/* line 121, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.intro-call {
  width: 65%;
  height: 250px;
  text-align: center;
  margin-top: 22%;
  margin-left: 17%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 121, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .intro-call {
    margin-left: 17%;
    margin-top: 35%;
  }
}

@media screen and (max-width: 759px) {
  /* line 121, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .intro-call {
    width: 90%;
    margin-left: 0;
    margin-top: 25%;
  }
}

/* line 138, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.intro-call h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  line-height: 1.04167em;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 759px) {
  /* line 138, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .intro-call h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
    display: none;
  }
}

/* line 148, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.intro-call h1.mobile {
  display: none;
}

@media screen and (max-width: 759px) {
  /* line 148, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .intro-call h1.mobile {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
    display: block;
  }
}

/* line 155, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.intro-call p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 161, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.btn {
  border: 5px solid #9D4608;
  padding: 10px 20px;
  color: #9D4608;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  text-transform: uppercase;
  transition: .5s;
  cursor: pointer;
}

/* line 170, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.btn:hover {
  border-color: #fff;
  color: #fff;
  transition: .5s;
}

@media screen and (max-width: 759px) {
  /* line 161, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .btn {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.875em;
    line-height: 1.64286em;
    padding: 5px 10px;
    border-width: 3px;
  }
}

/*Serviços*/
/* line 183, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.servicos h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  line-height: 1.04167em;
  color: #1B191B;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

/* line 191, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.servicos h2::after, .servicos h2::before {
  content: '';
  display: block;
  height: 5px;
  width: 230px;
  background: #1B191B;
  margin: 8px auto;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 183, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .servicos h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    line-height: 1.25em;
  }
}

@media screen and (max-width: 759px) {
  /* line 183, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .servicos h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
  }
  /* line 204, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .servicos h2::after, .servicos h2::before {
    width: 150px;
    height: 3px;
  }
}

/*wordpress*/
/* line 211, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.word {
  background: #1B191B;
  padding: 26px 0;
}

/* line 215, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.icones {
  margin-left: 20%;
  width: 35%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 215, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .icones {
    margin-left: 70px;
  }
}

@media screen and (max-width: 759px) {
  /* line 215, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .icones {
    margin-left: 25%;
    margin-bottom: 30px;
  }
}

/* line 227, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.word-info {
  width: 30%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 227, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .word-info {
    margin-left: 10%;
    width: 38%;
  }
}

@media screen and (max-width: 759px) {
  /* line 227, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .word-info {
    margin-left: 25%;
    width: 61%;
  }
}

/* line 239, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.word-info h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 16px;
}

@media screen and (max-width: 759px) {
  /* line 239, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .word-info h3 {
    font-family: "Open Sans", sans-serif;
  }
}

/* line 249, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.word-info p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

/*SEO*/
/* line 256, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.seo {
  padding: 26px 0;
}

/* line 259, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.seo-info {
  width: 30%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 259, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .seo-info {
    margin-left: 10%;
  }
}

@media screen and (max-width: 759px) {
  /* line 259, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .seo-info {
    margin-left: 25%;
    width: 61%;
  }
}

/* line 269, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.seo-info h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  color: #2E2D2E;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 16px;
}

@media screen and (max-width: 759px) {
  /* line 269, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .seo-info h3 {
    font-family: "Open Sans", sans-serif;
  }
}

/* line 279, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.seo-info p {
  color: #2E2D2E;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

/*Responsivo*/
/* line 285, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.respon {
  background: #1B191B;
  padding: 26px 0;
}

/* line 289, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.respon-info {
  width: 30%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 289, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .respon-info {
    margin-left: 10%;
  }
}

@media screen and (max-width: 759px) {
  /* line 289, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .respon-info {
    margin-left: 25%;
    width: 61%;
  }
}

/* line 299, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.respon-info h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 16px;
}

/* line 309, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.respon-info p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

/*Portifólio*/
/* line 315, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.portifolio h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  line-height: 1.04167em;
  color: #1B191B;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

/* line 323, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.portifolio h2::after, .portifolio h2::before {
  content: '';
  display: block;
  height: 5px;
  width: 210px;
  background: #1B191B;
  margin: 8px auto;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 315, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .portifolio h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    line-height: 1.25em;
  }
}

@media screen and (max-width: 759px) {
  /* line 315, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .portifolio h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
  }
  /* line 336, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .portifolio h2::after, .portifolio h2::before {
    width: 100px;
    height: 3px;
  }
}

/* line 342, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.portifolio-itens {
  border-top: 5px solid #1B191B;
  border-bottom: 5px solid #1B191B;
}

@media screen and (max-width: 759px) {
  /* line 342, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .portifolio-itens {
    border-width: 3px;
  }
}

/* line 350, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.img-porti {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
}

@media screen and (max-width: 759px) {
  /* line 350, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .img-porti {
    float: left;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

/* line 361, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.img-porti-1 {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
  margin-left: 10%;
}

@media screen and (max-width: 759px) {
  /* line 361, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .img-porti-1 {
    margin-left: 20px;
    float: left;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

/* line 373, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.portifolio-itens img:hover {
  transform: scale(1.4);
  width: 400px;
}

/*orçamento*/
/* line 378, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-itens {
  background: #1B191B;
  height: auto;
}

/* line 383, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orcamento h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  line-height: 1.04167em;
  color: #1B191B;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

/* line 391, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orcamento h2::after, .orcamento h2::before {
  content: '';
  display: block;
  height: 5px;
  width: 220px;
  background: #1B191B;
  margin: 8px auto;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 383, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orcamento h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    line-height: 1.25em;
  }
}

@media screen and (max-width: 759px) {
  /* line 383, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orcamento h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    line-height: 1.25em;
  }
}

@media screen and (max-width: 759px) and (max-width: 759px) {
  /* line 383, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orcamento h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
  }
  /* line 406, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orcamento h2::after, .orcamento h2::before {
    width: 100px;
    height: 3px;
  }
}

/* line 413, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-itens h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 22px;
  text-transform: uppercase;
}

/* line 423, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-form {
  margin-right: 10%;
  width: 45%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 423, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-form {
    margin-right: 9%;
    width: 48%;
  }
}

@media screen and (max-width: 759px) {
  /* line 423, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-form {
    margin-right: 0;
    width: 100%;
  }
}

/* line 435, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
form label {
  display: block;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  margin-bottom: 4px;
}

/* line 441, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
form input {
  width: 100%;
  height: 45px;
  border: 5px solid #fff;
  background: none;
  margin-bottom: 16px;
  color: #fff;
  padding-left: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  outline: none;
}

/* line 452, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
form textarea {
  width: 100%;
  height: 180px;
  border: 5px solid #fff;
  background: none;
  margin-bottom: 16px;
  color: #fff;
  padding-left: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  outline: none;
}

/* line 463, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
form .btn-2 {
  background: none;
  border: 5px solid #9D4608;
  padding: 5px 30px;
  color: #9D4608;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  text-transform: uppercase;
  transition: .5s;
  margin-bottom: 32px;
  cursor: pointer;
}

/* line 474, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
form .btn-2:hover {
  border-color: #fff;
  color: #fff;
  transition: .5s;
}

@media screen and (max-width: 759px) {
  /* line 463, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  form .btn-2 {
    border-width: 3px;
    padding: 3px 20px;
  }
}

@media screen and (max-width: 759px) {
  /* line 484, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-img {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 490, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img .dados {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 0.5rem;
}

/* line 496, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img .dados:before {
  content: '';
  display: block;
  width: 15px;
  height: 5px;
  background: #fff;
}

@media screen and (max-width: 759px) {
  /* line 496, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-img .dados:before {
    border-width: 3px;
  }
}

/* line 506, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img .sobre {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 3rem;
}

/* line 512, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img .sobre:before {
  content: '';
  display: block;
  width: 15px;
  height: 5px;
  background: #fff;
}

@media screen and (max-width: 759px) {
  /* line 512, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-img .sobre:before {
    border-width: 3px;
  }
}

/* line 522, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img .sobre-info {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

/* line 527, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img .email {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

/* line 533, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img .sep {
  width: 385px;
  height: 5px;
  background: #fff;
  margin-top: 54px;
  margin-bottom: 54px;
  margin-left: 0;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 533, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-img .sep {
    width: 300px;
  }
}

@media screen and (max-width: 759px) {
  /* line 533, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-img .sep {
    width: 90%;
  }
}

/* line 547, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.orca-img img {
  height: 315px;
}

@media screen and (max-width: 759px) {
  /* line 547, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .orca-img img {
    margin-bottom: 32px;
  }
}

/*Quebra*/
/* line 554, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.quebra {
  background: url("../img/footer.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  text-align: center;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 554, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .quebra {
    height: 400px;
    background-attachment: local;
  }
}

@media screen and (max-width: 759px) {
  /* line 554, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .quebra {
    height: 300px;
    background-attachment: local;
  }
}

/* line 569, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.quebra p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 220px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 569, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .quebra p {
    margin-top: 160px;
  }
}

@media screen and (max-width: 759px) {
  /* line 569, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
  .quebra p {
    margin-top: 110px;
  }
}

/* line 581, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
.quebra p::before, .quebra p::after {
  content: '';
  display: block;
  height: 5px;
  width: 250px;
  background: #fff;
  margin: 8px auto;
}

/*footer*/
/* line 592, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
footer {
  background: #1B191B;
  height: 100px;
  text-align: center;
}

/* line 597, C:/Users/DANIEL/Desktop/Codando/css/scss/style.scss */
footer p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
}

/*# sourceMappingURL=../style.map */